In [9]:
print("I am going to crack Generative AI") #2sec
print("I am going to crack Generative AI")
print("I am going to crack Generative AI")#4 hours

I am going to crack Generative AI
I am going to crack Generative AI
I am going to crack Generative AI

In [10]:
print("I am going to crack Generative AI") 
print("I am going to crack Generative AI")
print("I am going to crack Generative AI")

I am going to crack Generative AI
I am going to crack Generative AI
I am going to crack Generative AI

# string

In [ ]:
name="Muhammmad Umar" 
print(name) # print
print(type(name)) #type
print(id(name)) #physical address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

In [4]:
name="Muhammmad Umar" 
name=500
print(name) # print
print(type(name)) #type
print(id(name)) #physical address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

500
<class 'int'>
2452079970064
['as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']

In [6]:

name:int =8 
print(name) # print
print(type(name)) #type
print(id(name)) #physical address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

500

In [12]:
name :str ="Muhammmad Umar" 
print(name) # print
print(type(name)) #type
print(id(name)) #physical address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

Muhammmad Umar
<class 'str'>
2452081538480
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [8]:
name: float= 7.9
print(name) # print
print(type(name)) #type
print(id(name)) #physical address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

In [13]:
name: bool = True
print(name) # print
print(type(name)) #type
print(id(name)) #physical address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

True
<class 'bool'>
140717351504592
['as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']

In [14]:
name :list [str]=['a','b']
print(name) # print
print(type(name)) #type
print(id(name)) #physical address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

['a', 'b']
<class 'list'>
2452080002496
['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [15]:
name :tuple [str,int ,float]= ('ukhano',78,7.9)
print(name) # print
print(type(name)) #type
print(id(name)) #physical address
print([i for i in dir(name) if "__" not in i]) # methods and attributes

('ukhano', 78, 7.9)
<class 'tuple'>
2452081526528
['count', 'index']

In [ ]:
# boundaries 
#  ' string text ', " string text ", ''' string text ''',
#  """  string text """   

# `string text ` allowed in ts

name : str = "M. Umar"
name : str = 'M. Umar'
print(type(name))
fname : str = "Abdul Aziz"

In [47]:
name : str = "Ammara Gul"
fname : str = "Abdul Aziz"
Education : str ="WEB 3.0"
Age : int = 18
card  : str = " PIAIC Student CARD\n Student Name: " + name + \
      "\nage:" + str(Age) + "\n" \
      "Education: " + Education
print(card)

 PIAIC Student CARD
 Student Name: Ammara Gul
age:18
Education: WEB 3.0

# DEfine Multiline String """ """,''' '''

In [49]:
name : str = "Ammara Gul"
fname : str = "Abdul Aziz"
education : str ="WEB 3.0"
age : int = 18

card  : str = """ 
PIAIC Student CARD
Student Name : AMMARA GUL
Father's Name : ABDUL ABDUL AZIZ
Age : 18
Education : 

"""
print(card)

PIAIC Student CARD
Student Name : AMMARA GUL
Father's Name : ABDUL ABDUL AZIZ
Age : 18
Education :

# F-string python

In [51]:
name : str = "Ammara Gul"
fname : str = "Abdul Aziz"
education : str ="Typescript,Python"
age : int = 18

card  : str = f""" 
PIAIC Student CARD
Student Name :  {name}
Father's Name : {fname}
Age : {age}
Education : {education}
"""
print(card)

PIAIC Student CARD
Student Name :  Ammara Gul
Father's Name : Abdul Aziz
Age : 18
Education : Typescript,Python

# f-string Usage
concatenation +
placeholder assign +
numerical function or any expression

In [54]:
card  : str = f'''
PIAIC Student CARD
Student Name :  {name}
Father's Name : {fname}
Age : {age}
Education : {education}
Total: {2 + 5 + 8}
'''
print(card)

PIAIC Student CARD
Student Name :  Ammara Gul
Father's Name : Abdul Aziz
Age : 18
Education : Typescript,Python
Total 15

In [53]:
card  : str = f```
PIAIC Student CARD
Student Name :  {name}
Father's Name : {fname}
Age : {age}
Education : {education}
```
print(card)

SyntaxError: unterminated string literal (detected at line 4) (3317500352.py, line 4)

# F-String and Jinja style

In [4]:

# Django(jango) web dev in python OR Flask , in which  var join with html page 

# Jinja style => (operate when HTML perform on server)
"""
Student Name {{name}}
"""

'\nStudent Name {{name}}\n'

In [5]:
name : str = "Ammara Gul"
fname : str = "Abdul Aziz"
education : str ="Typescript,Python"
age : int = 18
# % used in C programming
card  : str = f'''
PIAIC Student CARD
Student Name :  %s
Father's Name : %s
Age : %d
Education : %s
''' % (name, fname, age, education)
print(card)

PIAIC Student CARD
Student Name :  Ammara Gul
Father's Name : Abdul Aziz
Age : 18
Education : Typescript,Python
Total: 15

In [ ]:
name : str = "Ammara Gul"
fname : str = "Abdul Aziz"
education : str ="Typescript,Python"
age : int = 18

ard  : str = f'''
PIAIC Student CARD
Student Name :  {name}
Father's Name : {fname}
Age : {age}
Education : {education}
'''
print(card)

In [8]:
# dir function => deduct method, attributes of this class
[i for i in dir (str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
a = 7
b = 8
# {} place holder
#              0                1          
"oho value a = {} and value b = {}".format(a,b)

'oho value a = 7 and value b = 8'

In [3]:
name : str = "Ammara Gul"
fname : str = "Abdul Aziz"
education : str ="Typescript,Python"
age : int = 18

card  : str = """ 
PIAIC Student CARD
Student Name :  {2}
Father's Name : {3}
Age : {1}
Education : {0}
""".format(education,age,name,fname,)
    #          0      1    2    3
print(card)

PIAIC Student CARD
Student Name :  Ammara Gul
Father's Name : Abdul Aziz
Age : 18
Education : Typescript,Python

In [6]:
name : str = "Ammara Gul"
fname : str = "Abdul Aziz"
education : str ="Typescript,Python"
age : int = 18

card  : str = """ 
PIAIC Student CARD
Student Name :  {b}
Father's Name : {c}
Age : {a}
Education : {d}
""".format(a=age,b=name,c=fname,d=education) #f-string ka dot format k sath ,template in langchain
print(card)

PIAIC Student CARD
Student Name :  Ammara Gul
Father's Name : Abdul Aziz
Age : 18
Education : Typescript,Python

# Recomended below two F-string format

In [ ]:
ame : str = "Ammara Gul"
fname : str = "Abdul Aziz"
education : str ="Typescript,Python"
age : int = 18

card  : str = f""" 
PIAIC Student CARD
Student Name :  {name}
Father's Name : {fname}
Age : {age}
Education : {education}
"""
print(card)

In [12]:
name : str = "Muhammad Umar"
print(name.capitalize())
print(name.lower())

Muhammad umar
muhammad umar

In [7]:
stu_code : str = """
print("who are u?")
a : int = 7
b : int = 6
print (a+ b)
"""
exec(stu_code)

who are u?
13

# Explore String methods and attributes
  Pre defined Global Functions
* print
* type
* id
* dir
* len

In [8]:
# Explore String methods and attributes
a : list [str] = [i for i in dir (str) if "__" not in i]
print(a)
# length checking
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [9]:
mes : str = "what gonna u do?"
# var_name.method()

print(mes.capitalize())

What gonna u do?

In [11]:
mes : str = "What gonna u do?"
# var_name.method()
print(mes)
print(mes.casefold()) # small every charac

What gonna u do?
what gonna u do?

In [15]:
mes : str = "     what gonna u do?     "
# var_name.method()
display(mes)
display(mes.lstrip()) # remove extra space from left side
display(mes.rstrip())
display(mes.strip())

'     what gonna u do?     '

'what gonna u do?     '

'     what gonna u do?'

'what gonna u do?'

In [18]:
import re 
mes : str = "     what   gonna    u do?     "
display(mes)
#                    pattern  replacement 
nam1 : str = re.sub(' {2,100}',' ',mes).strip()
display(nam1)

'     what   gonna    u do?     '

'what gonna u do?'

In [19]:
mes : str = "     what gonna u do?     "
# var_name.method()
display(mes)
display(mes.title())

'     what gonna u do?     '

'     What Gonna U Do?     '

In [14]:
first_name = "eda"
last_name = "Ali"
full_name = f"{first_name} {last_name}"
print(f"Hello,{full_name.title()}!")

Hello,Eda Ali!

In [15]:
print("Institute:\t\t PIAIC")

Institute:		 PIAIC

In [ ]:
# /n new line
print("Institute:\n PIAIC")

In [ ]:
# "/b" means backspace (del word from left side)
print("Institute:\b PIAIC")

In [16]:
nonstarch_url : str ='https://nonstarch.com'
nonstarch_url.removeprefix('https://')

'nonstarch.com'

In [17]:
#1name:str ="ammara" => throw error var name don't start with number
_1name : str ="ammara"
print(_1name)

ammara

In [19]:
# space has special meaning
#piaic student name : str ="Ammara"
piaic_student_name : str ="Ammara"
print(piaic_student_name)

Ammara

print (7 + 4 + 9)

# "\\" line continue

In [41]:
print (7 + \
       4 + \
       9)

20

In [36]:
#"a" + 7
"a" + "7"

'a 7'

In [16]:
name : str = 'M. Umar'
print(type(name))

<class 'str'>

In [21]:
message : str = ' PIAIC "Student CARDS" \n father Name '
print (message)

 PIAIC "Student CARDS"
 father Name

In [24]:
"a" + "b"

'ab'

In [20]:
message : str = "PIAIC CARDS \n father's Father's"
print (message)

PIAIC CARDS
 father's Father's

In [22]:
# code in which Apostrophe being used so at
#  that cover the code with double quote instead of single

#message : str = 'PIAIC CARDS \n father's  Name'

#print(message)

# convrt any specia charcter into simple character , place \ before character

message : str = 'PIAIC CARDS \n father\'s Name'
print (message)

PIAIC CARDS
 father's  Name