# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [14]:
!pip install lxml

Collecting lxml
  Obtaining dependency information for lxml from https://files.pythonhosted.org/packages/77/e5/1f23e56678244258483521872507d64130cac9466902aca3f3141b8fb06b/lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata
  Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB 330.3 kB/s eta 0:00:12
    --------------------------------------- 0.1/3.8 MB 393.8 kB/s eta 0:00:10
   - -------------------------------------- 0.1/3.8 MB 554.9 kB/s eta 0:00:07
   - -------------------------------------- 0.1/3.8 MB 502.3 kB/s eta 0:00:08
   -- ------------------------------------- 0.2/3.8 MB 623.6 kB/s eta 0:00:06
   --- ------------------------------------ 0.3/3.8 MB 737.3 kB/s eta 0:00:05
   --- ------------------------------------ 0.4/3.8 MB 820.1 kB/s eta 0:00:05
   ---- ----------------------------------- 0.5/3.8 MB 880.6 kB/s eta 0:00:04
   ----- ---------------------------------- 0.5/3.8 MB 929.3 kB/s eta 0:00:04
   ----- ---------------------------------- 0.6/3.8 MB 913.7 kB/s eta 0:00:04
   ------ --------------------------------- 0.6/3.8 MB 864.5 kB/s eta 0:00:04
   ------- -------------------------------- 0.7/3.8 MB 1.0 MB/s eta 0:00:04
   -------- ------------------------------- 0.8/3.8 MB 1.0 MB/s eta 0:00:03
   --------- ------------------------------ 0.9/3.8 MB 1.0 MB/s eta 0:00:03
   --------- ------------------------------ 0.9/3.8 MB 1.0 MB/s eta 0:00:03
   ---------- ----------------------------- 1.0/3.8 MB 1.0 MB/s eta 0:00:03
   ----------- ---------------------------- 1.1/3.8 MB 1.0 MB/s eta 0:00:03
   ----------- ---------------------------- 1.1/3.8 MB 1.0 MB/s eta 0:00:03
   ------------ --------------------------- 1.2/3.8 MB 1.0 MB/s eta 0:00:03
   ------------ --------------------------- 1.2/3.8 MB 1.0 MB/s eta 0:00:03
   ------------- -------------------------- 1.3/3.8 MB 1.0 MB/s eta 0:00:03
   -------------- ------------------------- 1.3/3.8 MB 1.0 MB/s eta 0:00:03
   -------------- ------------------------- 1.4/3.8 MB 1.0 MB/s eta 0:00:03
   --------------- ------------------------ 1.5/3.8 MB 1.0 MB/s eta 0:00:03
   --------------- ------------------------ 1.5/3.8 MB 1.0 MB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 999.5 kB/s eta 0:00:03
   ----------------- ---------------------- 1.6/3.8 MB 1.0 MB/s eta 0:00:03
   ----------------- ---------------------- 1.7/3.8 MB 1.0 MB/s eta 0:00:03
   ------------------ --------------------- 1.7/3.8 MB 1.0 MB/s eta 0:00:03
   ------------------ --------------------- 1.8/3.8 MB 1.0 MB/s eta 0:00:02
   ------------------- -------------------- 1.8/3.8 MB 1.0 MB/s eta 0:00:02
   ------------------- -------------------- 1.8/3.8 MB 1.0 MB/s eta 0:00:02
   ------------------- -------------------- 1.8/3.8 MB 1.0 MB/s eta 0:00:02
   -------------------- ------------------- 1.9/3.8 MB 978.0 kB/s eta 0:00:02
   -------------------- ------------------- 1.9/3.8 MB 967.7 kB/s eta 0:00:02
   --------------------- ------------------ 2.0/3.8 MB 963.4 kB/s eta 0:00:02
   --------------------- ------------------ 2.1/3.8 MB 957.0 kB/s eta 0:00:02
   ---------------------- ----------------- 2.1/3.8 MB 966.5 kB/s eta 0:00:02
   ----------------------- ---------------- 2.2/3.8 MB 967.2 kB/s eta 0:00:02
   ----------------------- ---------------- 2.2/3.8 MB 974.2 kB/s eta 0:00:02
   ------------------------ --------------- 2.3/3.8 MB 976.5 kB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 987.4 kB/s eta 0:00:02
   ------------------------- -------------- 2.4/3.8 MB 985.1 kB/s eta 0:00:02
   -------------------------- ------------- 2.5/3.8 MB 993.5 kB/s eta 0:00:02
   -------------------------- ------------- 2.5/3.8 MB 995.3 kB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 1.0 MB/s eta 0:00:02
   ---------------------------- ----------- 2.7/3.8 MB 1.0 MB/s eta 0:00:02
   ----------------------------- ---------- 2.8/3.8 MB 1.0 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------- -------- 3.0/3.8 MB 1.0 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 1.0 MB/s eta 0:00:01
   --------------------------------- ------ 3.1/3.8 MB 1.0 MB/s eta 0:00:01
   --------------------------------- ------ 3.1/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.2/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 1.0 MB/s eta 0:00:01
   ----------------------------------- ---- 3.3/3.8 MB 1.0 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------------ --- 3.4/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------------- -- 3.5/3.8 MB 1.0 MB/s eta 0:00:01
   ------------------------------------- -- 3.6/3.8 MB 1.0 MB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 1.0 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 1.0 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.3

# python Arithmetic operators

In [5]:
# "!" => can run terminal command on notebook
!pip install pandas

Requirement already satisfied: pandas in c:\users\super\anaconda3\envs\python12\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\super\anaconda3\envs\python12\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\super\anaconda3\envs\python12\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\super\anaconda3\envs\python12\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\super\anaconda3\envs\python12\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\super\anaconda3\envs\python12\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [15]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table [0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [19]:
a : int = 16
b : int = 7
print (a + b)
print (a - b)
print (a * b)
print (a / b)
print (a % b)

23
9
112
2.2857142857142856
2

In [20]:
# exponent oprator starts from right side
print (2 **  4)

16

In [21]:
print(12 / 3)

4.0

In [25]:
print(14.8 / 3)

4.933333333333334

In [24]:
# Floor Division 
print(14.8 // 3)

4.0

# Python Assign Operators
table[1]

In [26]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [32]:
a : int = 8 

print(a)

print(b := 9)

8
9

 # "="  assign
a : int = 7
b : int = 9

In [30]:
# += preicrement => first increment then assign
a : int = 7
print(a)
#a = 7 + 2
a += 2
print(a)

7
9

# Python Comparison Operators

In [33]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [35]:
a : int = 9
c : int = 6
print(a == c)
# a == b
# 9 == 6
# false

True

In [37]:
a : int = 9
c : str = "6"
print(a == c)

SyntaxError: invalid syntax (2982890847.py, line 7)

In [40]:
# !=

a : int = 6
c : int = 6
print(a != c)

False

In [41]:
# ">"
a : int = 9
c : int = 6
print(a > c)

True

In [42]:
# "<"
a : int = 9
c : int = 6
print(a < c)

False

In [43]:
# ">="
a : int = 9
c : int = 6
print(a >= c)

True

In [44]:
# "<="
a : int = 9
c : int = 6
print(a <= c)

False

ASCII CODE
A = 65
Z = 90

a = 97
z = 122

0 = 48
9 = 57

In [45]:
# ">"
a : str = "A"
c : str = "B"
print(c > a)

False